[2016-09-08 23:37] dkwin opened #1 "Would be nice to have a list of default animations that people can use out of the box."
It would be nice to have a list of default animations that can be used out of the box.

For example, animate.css has animations such as:
- bounce
- flash
- rubberBand
- fadeIn

etc

See the example here:

https://daneden.github.io/animate.css/

[2016-09-09 00:06] kennetpostigo commented on #1
@dkwin thanks for opening this issue! This project is based on the anime package and if you take a look at their default animtion [easings](https://github.com/juliangarnier/anime#parameters) where they ask you to `console.log(Object.keys(anime.easings))` you will get the following animations out of the box:
[code]

Is this what you were looking for?

[2016-09-09 07:04] alaingalvan commented on #1
Some default animations is a good idea, perhaps some examples in the readme:

## Fade Down

- [Codepen Example](http://codepen.io/alaingalvan/pen/RGWbmp)

[code]

What could work is a set of defaults like:

[code]

[2016-09-09 14:50] kennetpostigo commented on #1
@alaingalvan awesome! we definitely need more examples. Also I think Im going to add and examples section to the github page.

[2016-09-09 15:33] dkwin commented on #1
Ah, that helps!

[2016-09-09 15:35] dkwin commented on #1
One useful example would be to use the animations when an object appears and disappears.  React's animation Group has the events to be able to animate whenever the object appears and hides.

[2016-09-09 15:38] kennetpostigo commented on #1
@dkwin great suggestion! @alaingalvan and I will work on more documentation and examples and try to get them out ASAP!

[2016-09-09 15:40] kennetpostigo opened #2 "Support React-Native"
It would be awesome to work on making this compatible with `react-native`. This issue is meant to open discussion and suggestions.

[2016-09-09 21:46] lucidrains opened #3 "example has loop={true} twice"
![screen shot 2016-09-09 at 2 45 58 pm](https://cloud.githubusercontent.com/assets/108653/18403876/2f4ae582-769c-11e6-88f6-ca1abeaff433.png)

[2016-09-09 22:12] kennetpostigo commented on #3
@lucidrains thanks for the heads up! Will tell @alaingalvan to replace his gif :)

[2016-09-09 22:14] #3 closed

[2016-09-09 22:19] alaingalvan commented on #3
![Alrighty, Corrected!](https://github.com/stelatech/react-anime/raw/master/assets/cover.gif)

Corrected, thanks! ;)

[2016-09-14 05:01] garbin opened #4 "anime.browser.js: Uncaught ReferenceError: React is not defined"
It requires a global React?

[2016-09-14 06:38] kennetpostigo commented on #4
@garbin yes `React` and `anime` is required as they are peer dependecies of `react-anime. Refer to the codepen JS settings:
http://l.facebook.com/l.php?u=http%3A%2F%2Fcodepen.io%2Falaingalvan%2Fpen%2FEgjbKP%2F&h=DAQHiZkZ6

[2016-09-14 06:45] garbin commented on #4
You means I should require React, animejs and expose them to Global scope? window.React, window.anime must exists?

[2016-09-14 09:31] philpl commented on #4
UMD bundles require their peer dependency counterparts to be loaded already. Take a look at the `externals` definition [1] here: https://github.com/stelatech/react-anime/blob/master/webpack.browser.js

So if you're not bundling / resolving dependencies in another way you need to load their UMD bundles as well. Check out https://unpkg.com/

[1]: https://webpack.github.io/docs/library-and-externals.

[2016-09-14 13:19] luandro opened #5 "Anime component makes div disappear"
Am I doing something wrong?
[code]

I've tried adding the props from the example, but without them I also get the same result. It simply makes my `div` disappear.

[2016-09-14 15:26] kennetpostigo commented on #4
@garbin yes exactly that. Look at the settings in the codepen I linked and you should see that i'm importing react and anime from unpkg. @philpl exactly, you need to bring in the peer dependencies through unpkg because we don't bundle them with react-anime. If you use npm then the peer dependencies should be installed automatically.

[2016-09-14 15:26] #4 closed

[2016-09-14 15:28] kennetpostigo commented on #5
@luandro can you make a codepen of this so that we can inspect and see whats going on? Heres a base template for a [codepen](http://codepen.io/alaingalvan/pen/EgjbKP?editors=0010)

[2016-09-14 15:43] kennetpostigo commented on #5
@luandro actually I spotted the bug and it should be fixed. `npm install react-anime` to `v0.2.0`. It should be working. Thank you for raising this issue :)

[2016-09-14 16:48] kennetpostigo commented on #5
@luandro if the problem went away with `v0.2.2` feel free to close the issue.

[2016-09-14 17:28] luandro commented on #5
@kennetpostigo got fixed, thanks a lot and great job on the project!

[2016-09-14 17:28] #5 closed

[2016-09-30 12:17] queckezz opened #6 "composite components"
This currently does not work:

[code]

We could solve this by querying the raw dom node using `findDOMNode()` but that would make it even more incompatible with `react-native` because of the `react-dom` dep.

[2016-09-30 15:28] kennetpostigo commented on #6
@queckezz thank you for bringing up this issue! @alaingalvan and I will look into this as soon as time allows.

[2016-10-12 00:43] alaingalvan commented on #6
One workaround is to wrap the stateless component in a `<span>` or `<g>` element
[code]

I'll be adding this to a set of commits I'm working on to improve control over animations based on the experience we got from a project @kennetpostigo is releasing this Sunday.  :3

[2016-10-17 19:57] kennetpostigo commented on #6
Closing the issue now, this work around seems to work perfectly. @queckezz lmk if theres an edge case you run into.

[2016-10-17 19:57] #6 closed

[2016-11-02 19:57] polmoneys commented on #1
thank you all for working on this, finally some joy out of animating in react :)

[2016-11-03 16:10] polmoneys opened #9 "Questions"
It would be lovely if there were moar examples on the readme, I can't seem to trigger another animation using the complete callback, like in https://github.com/juliangarnier/anime/blob/master/examples/callbacks.html

TIA

[2016-11-03 17:02] kennetpostigo commented on #9
Hey @polmoneys you are definitely right! We have some examples that aren't linked in the docs just been busy since we're working on stuff for our research company. Here are the links to the other examples:
- http://codepen.io/alaingalvan/pen/rrZXYB
- http://codepen.io/alaingalvan/pen/RGWbmp

Are these helpful?

[2016-11-03 23:38] polmoneys commented on #9
Fantastic, gracias !

[2016-11-03 23:38] #9 closed

[2016-11-04 22:56] abattenburg commented on #9
I'm also having trouble triggering the complete callback. Looking at the documentation, I've tried passing a second previously declared  <Anime > function in as a parameter, and declaring a new one inside the function. Neither seems to have any effect. Thanks for the help, I know I'm missing something obvious here...

[2016-11-04 23:11] kennetpostigo commented on #1
@polmoneys thank you for the kind words :)

[2016-11-07 16:08] alaingalvan commented on #9
@abattenburg I made a quick [pen](http://codepen.io/alaingalvan/pen/rWVNpd?editors=0010) that uses the complete callback, and it seems to be working, have you tried updating your version of React Anime?

[2016-12-29 01:41] nekcih opened #10 "Support mount/unmount of components"
This is SOOO much simpler than other react animation tools out there. If it supported mounting and unmounting animations, it would be the best option available IMO. Have you considered adding this feature?

[2016-12-29 05:34] kennetpostigo commented on #10
@nekcih we are currently a small team (2 people) working on several libraries and projects at the moment. This should have been done long ago and I'm terribly sorry that this is not clearly established in the API. This will be coming soon :)

[2016-12-29 05:48] nekcih commented on #10
Awesome! Thx for the reply!

[2017-01-03 15:10] #2 closed

[2017-01-03 16:25] nekcih commented on #10
So, was this actually completed? Just curious because I don't see a related PR.

[2017-01-03 17:12] kennetpostigo commented on #10
Hey @nekcih the docs for this are currently being worked on, as you probably noticed the readme was cleaned up, and the doc page hyperfuse.github.io/react-anime is being updated. More docs coming soon :)

[2017-01-03 17:27] #1 closed

[2017-01-03 17:53] nekcih commented on #10
Awesome! A few of us are anxiously awaiting that update!

[2017-03-16 11:01] du5rte commented on #10
Hey, so has this been implemented?

[2017-03-16 18:16] alaingalvan commented on #10
Hey @du5rte, Just opened #11 with some of the changes that are going on with **React Anime 2.0**, unmounting/mounting animations haven't quite been figured out yet though.

The primary issue with mounting is letting anime.js know which components to animate and which not to animate, since children are props, we need to store the previous children and current children somehow.

[2017-03-18 13:38] du5rte commented on #10
@alaingalvan wild guess at this point but maybe `componentWillUpdate(nextProps, nextState)` can do the trick, I'm gonna have a play with this and see what I come up with

[2017-03-18 15:21] nekcih commented on #10
componentWillReceiveProps(nextProps) {
 // compare this.props to nextProps
}

[2017-03-18 20:10] dortzur opened #12 "Upgrade to anime 2.0"
I saw Anime release version 2.0 23 days ago. Updating this lib would be great!

[2017-03-18 20:29] kennetpostigo commented on #12
@dortzur there is this pr open for https://github.com/hyperfuse/react-anime/pull/11

[2017-03-20 15:56] du5rte commented on #10
@alaingalvan @nekcih I've tried look into it but the real issue is animating before unmounting, this is a problem a lot of people are having when trying to do perform unmount animations before when unmounting is trigged that component doesn't stick around waiting for the animation to end. But a new lifecycle for react is being suggested we should really emphasise it's important for animations!

fa

[2017-05-18 03:22] rblalock opened #15 "Examples and docs are down"
looks like its missing some core files

[2017-05-18 19:50] alaingalvan commented on #15
Looks like I had forgotten to set the `.gitignore` to allow for the website build files to show up on the repo, corrected it.

In the meantime:
http://codepen.io/collection/nrkjgo/

[2017-05-20 18:54] maximusnikulin opened #16 "What about Timeline animation?"
Hi there. Could you give some example to animate components one by one, like kind of **TimeLine** animation in anime.js. It's not staggerAnimation of list's items. I want to animate two different components in two different places of page, but one by one. I know how it may be implemented with anime.js or gsap.
Is there some way to make it with react-anime?.
http://anime-js.com/documentation/#basic

[2017-05-20 22:49] alaingalvan commented on #16
Controlling multiple components in different components would require the 2 components to share state in some way. Let me try cooking up an example here:

Lets say for instance, we have a *view* with `Header` and `Body` components.

We want it so that if we click a button, a unique animation will play one each of these components, 1 by 1.

[code]

## Workaround - Delay

One way to go about doing t

[2017-05-21 04:55] maximusnikulin commented on #16
Oh thanks a lot, I am looking forward Timeline component. I'll use workaround solution. Thanks for the help.

[2017-05-21 04:55] #16 closed

[2017-05-21 21:34] #12 closed

[2017-05-30 19:29] shockwavemoto commented on #10
I've tried look into it but the real issue is animating before unmounting, this is a problem a lot of people are having when trying to do perform unmount animations before when unmounting is trigged that component doesn't stick around waiting for the animation to end. But a new lifecycle for react is being suggested we should really emphasise it's important for animations!wild guess at this point

[2017-06-09 05:46] maximusnikulin opened #17 "Can I use DefaultStyles like in react-motion"
Hi there. I want to use defaultStyles like react-motion to prevent executing animation on mount component. Is there some way to achieve it?
Thanks.

[2017-06-10 23:06] alaingalvan commented on #17
So in React Motion, you're able to set `defaultStyle` that let you specify which styles play on mount:

[code]

In React Anime, you would add a prop of type `number[]` with the name of the style you want to animate. The first index corresponds to the `defaultStyle` in React Motion.

[code]

To prevent executing the animation on mount, you could set the first index of that array to be the last inde

[2017-06-11 16:50] maximusnikulin commented on #17
Thanks a lot for your answer. My main aim was to prevent animation on mount component, but when  my props change do animation to normal direction and to reverse direction. I have created some  [pen](https://codepen.io/MaxNikulin/pen/xrVXXP/?editors=0010) to demonstrate what I am trying to achieve.
Thanks.

[2017-06-12 11:06] maximusnikulin commented on #17
Also I have a question about other css properties. For example visibility. It is really useful in job with popups. When overlay's opacity becomes 0, it needs to switch visibility to "hidden". I have read docs of Anime.js and didn't found any about it.

[2017-06-12 19:13] alaingalvan commented on #17
You should be able to set your component's state with the `onComplete` prop and from there set the visibility to hidden through styles or unmount the Anime component.

I'll work on 2 Codepens with these scenarios you're describing 😃:

1. An anime.js version of the pen you sent in your previous comment.
2. Using Anime.js callbacks to set the state of a component and hide them.

[2017-06-13 08:04] maximusnikulin commented on #17
Oh thanks a lot.
I have tried react-motion, react-velocity, CSSTransitionGroup, native inline css for build queue of animations and only your library helped me.
I am sure that library is most simple and clear way to animate react-components.
I am very grateful for this. I think It can be closed.

[2017-06-13 08:04] #17 closed

[2017-06-18 00:00] Crizzooo opened #18 "The resulting <g> from an <Anime> tag breaks a Relative % Chain"
When inserting an <Anime> component within one of my containers (i.e a 50% container) to animate a child of a relative width (i.e 100% of its container), the <g> will break the relative width chain and not occupy the full container.

Proposed fix: initiating Anime components with a width style of 100% or to give g elements a property of width: 100% in the .css.

Let me know if you approve of a sol

[2017-06-18 01:19] alaingalvan commented on #18
https://github.com/hyperfuse/react-anime/blob/master/packages/react-anime/src/react-anime.js#L83

The current version of React Anime lets you add props to the `<Anime/>` component, and from there you can set the width of the `<g/>` tag within it to 100%. I'll go ahead and release a patched version to NPM with the fixes on the repo.

[2017-06-20 16:30] Crizzooo commented on #18
Yeah, Ive been passing style down to work around this.

I was suggesting that ```width: 100%``` should be a default style on the Anime component to keep the relative size chain going by default, rather than needing to pass a style obj every single time I create an Anime component within the middle of my component chain.

I don't think it would create any negative side effects? Users who are not us

[2017-06-20 16:33] Crizzooo commented on #10
What's the recommended way to create a mount animation and an unmount animation in React currently?

Right now, I have a boolean flag on state for shouldAnimate. If shouldAnimate is true, I render the <Anime> component around my own component. After the first mount, I flip this boolean so that changes to state in the email form don't trigger the animation.

Now I am trying to think about how to do

[2017-06-21 18:16] alaingalvan commented on #18
I feel as though it would mess with the purity of the component, there may be some edge cases we're not considering here where that kind of behavior would be a bad thing. Let me think about it a bit.

If anything, there's always the option of wrapping an `<Anime/>` component, say a `<RelAnime/>`, and just pass the styles there.

[2017-06-22 09:09] du5rte commented on #10
@Crizzooo The current recommend way is to use [react-motion](https://github.com/chenglou/react-motion)  [`<TransitionMotion />`](https://github.com/chenglou/react-motion#transitionmotion-).

If you search the react library issues for animation unmount you're very likely to land on various proposals of `componentWillPrepareUnmount ` which were close and recommend using react-motion.

[#6067 compone

[2017-06-22 21:42] Crizzooo opened #19 "Requires Animejs"
Hey,

I'm building a React-Anime button with an animated SVG and I want to publish it on NPM.

So that component would be a peer dependency of your project. But when I install your project, it does  not automatically install `animejs`.

Is this on purpose? Could you explain why?

Now when I publish mine, do I just require your package and leave a note for the user that they will need to `npm i -S

[2017-06-23 21:34] hilary-L opened #20 "Docs and examples links don't work?"
Clicking on the link to either the API Docs or the Examples from the repo homepage just reloads the main https://hyperfuse.github.io/react-anime/ page...

[2017-06-23 23:47] AntonVoltchok commented on #20
I looked at the code it looks like there should be some kind of navigation showing up but it doesn't, maybe something wrong with router

[2017-06-26 18:56] alaingalvan commented on #20
Yeah, the examples are currently on Codepen, was planning on making them first class on the website though.

Working atm, but I'll post a link to the codepen collection on the site as soon as possible and edit this post when it's up. ;)

[2017-06-26 18:59] alaingalvan commented on #19
That's weird, `animejs` is a dependency in the version of React Anime on NPM.

[code]

Am I missing something here? Since `animejs` is a direct dependency it shouldn't be doing that. Can I see
 your package.json? 😕

[2017-06-26 21:00] pgsil opened #21 "Keyframes not working?"
Not sure if this is a known issue or not, just want to make sure.
Keyframes don't seem to work.

[code]

Does absolutely nothing when it comes to translation. The color property is only animated between "#0000FF", "#FF0000", so that's also not how these are supposed to work here, I guess.

Am I doing something wrong?

[2017-07-06 19:06] Crizzooo opened #22 "Cannot Simulate Events using ReactTestUtils.Simulate or enzyme simulate"
Hey,

I am trying to write tests to check the state changes of my component on mouse enter.

`describe('animeButton', () => {
  it('swaps between normal and hover views', () => {
    const Button = mount( <AnimeButton
                            hoverTextClassName="hoverText"
                            normalTextClassName="normalText" />);
    // ReactTestUtils.Simulate.mouseEnter(Button); <-- Wo

[2017-07-24 23:22] Crizzooo opened #23 "Elasticity prop as a function"
Hey all,

I'm trying to do some function based elasticity per the anime.js documentation.

The following works for duration and delay, but not for elasticity. Does React-Anime not support this feature? The function doesnt appear to have any impact on elasticity.

[code]

The function gets called and logs for delay, but never does so for elasticity.

[2017-07-24 23:30] Crizzooo commented on #23
Nevermind, my mistake. Easing and Elasticity cannot both be applied at same time. My apologies!

[2017-07-24 23:41] Crizzooo commented on #23
Nope, the above was an issue, but even with the easing prop removed, it appears that the elasticity function is never fired.

Does react-anime take in elasticity functions as well as numbers? My above example works if `elasticity={400}` for all children, but I want to make it dynamic based on the indexes of the children...

To recap, functions appear to be called in duration and delay props of `An

[2017-08-16 11:26] pencilcheck commented on #20
Still can't open documentation :(

[2017-08-27 01:41] alexpriceco opened #24 "Error: Problem parsing points="[object Object]""
Trying to animate the following:

[code]

...and getting `Error: Problem parsing points="[object Object]"`, a whole bunch of times. Here's the whole component:

[code]

[2017-08-27 01:44] alexpriceco commented on #24
...aaand I figured it out. The `points` property needed to be just an array, not an object. In the official animejs docs, that polygon is animated using the Object formatting that I used, rather than just an array. ¯\_(ツ)_/¯

Rad project though, thanks for this!

[2017-08-27 01:44] #24 closed

[2017-08-28 07:40] ssageghi commented on #20
@alaingalvan
 Hi
are documents fixed?

[2017-09-01 16:58] markhicken commented on #10
I just ran across this...
https://facebook.github.io/react/docs/animation.html#low-level-api-reacttransitiongroup

I don't have time to mess with it for now but it seems like it would allow us to fix the unmount issue.

[2017-09-01 19:06] alaingalvan commented on #10
@markhicken Woah, that looks really good!

Been stuck on this roadblock for so long, might finally be able to break it! 👍

[2017-09-06 13:52] skumblue commented on #20
Something for here?

[2017-09-06 20:21] alaingalvan commented on #20
[For now there's a collection on Codepen that you all could use for examples. ;)](https://codepen.io/collection/nrkjgo/)

[2017-09-09 00:22] ekeric13 opened #25 "npm is out of date"
Can you push up a new version of the package onto npm?

The local code is at version 2.0.2.
https://github.com/hyperfuse/react-anime/blob/master/packages/react-anime/package.json

But the code on npm is back at 0.3.4.
https://www.npmjs.com/package/react-anime

When I went to make a fix in the package I realized that the react lifecycle methods have since changed.

[2017-09-14 19:00] tomprogers commented on #20
Still no docs. Still deal-breaker.

Looks like a great tool. Don't have the first idea how to use it.

[2017-09-20 20:04] 8ctopotamus opened #27 "SVG Morphing not working"
I thought it would be cool to use react-anime to create something like this: https://tympanus.net/Development/ShapeMorphIdeas/index3.html

I tried to morph the paths by wrapping each one in <Anime> and added the "d" attribute for each one respectively, but nothing happens.

Here's my code:

### js
[code]

### css
[code]

[2017-09-25 20:21] AugustusZ opened #28 "Closing tags' first two character (</) rendered as an arrow in documentation's HTML section"
![image](https://user-images.githubusercontent.com/8922602/30828981-5c6d495e-a1f4-11e7-83e3-7a15852839ab.png)

[2017-10-04 14:25] tujoworker commented on #16
Actually, we can use a trick here!

[code]

[2017-10-05 21:09] iyk-azorji opened #29 "Documentation not loading"
The documentation doesn't show after the loading animation.  I've tried across different browsers but the results are the same

[2017-10-12 10:38] kausti opened #30 "All component in container animate on every update"
Hi,

Just discovered this today and it was a breeze to get this working!
I have each component set up with specific animations.
But when one component is updated, all the component in the container animate.
Even though the container itself does not have any animations defined.

Ideally I'd like only the specific component to animate and not the others.
Is there a way to stop this? May be I am doin

[2017-10-17 09:00] rubengijbels opened #31 "incompatibility with styled-components"
The following TypeScript code, that uses styled-components only animates the first 4 divs (those with a style object). The other four (styled components) do not animate. Animation using the animejs library in componentdidmount with a css selector on the styled components does work. But I would prefer to use your wrapper library.

[code]

[2017-10-17 17:12] dmt-13 commented on #31
Same for me. Tried with the latest version of styled-components and react-anime.

[2017-10-19 00:51] hawkins commented on #25
I'm wondering why npm hasn't been updated in over a year, despite it being very popular and not exactly inactive in terms of development. 🤔

@kennetpostigo @alaingalvan , do you need help maintaining / supporting this project? I'm sure a few contributors or users like myself would be happy to help out.

---

Interesting stats on the package, showing its use (1.5M dependents!)

![image](https://use

[2017-10-24 09:44] JikkuJose commented on #31
Same for me! Doesn't work with SC! :(

[2017-10-24 09:50] dmt-13 commented on #31
The best solution I found so far is using refs to animate styled component:

`<Box innerRef={box => (this.box = box)} />`

and then:

[code]

[2017-10-24 09:57] #21 closed

[2017-10-24 10:09] AaronPorts commented on #31
Doesn't work because `<Box/>` wraps `<div>` with `<styled.div>` element. So as a permanent solution we can wrap every styled component with another <div> element.
`<div><Box/></div>`

[2017-10-24 10:25] JikkuJose commented on #31
Oh thats a sad solution!

[2017-10-24 10:28] AaronPorts commented on #31
Yes. But at least it works. I hope this will be fixed soon.

[2017-10-24 10:33] dmt-13 commented on #31
@AaronPorts but this way you don't have an access to the styled component's css, right? You can change its wrapper only (which is `div` in your example)

[2017-10-24 11:19] AaronPorts commented on #31
Something like that.
[code]
But of course I can't give any guarantees that nothing will break :D

[2017-10-25 08:05] piotrf commented on #29
This doesn’t seem to have been fixed yet, as @alaingalvan claims here: https://github.com/hyperfuse/react-anime/issues/15#issuecomment-302522189 but this still works: https://codepen.io/collection/nrkjgo/

[2017-10-31 23:53] #19 closed

[2017-10-31 23:54] #28 closed

[2017-11-01 02:00] #25 closed

[2017-11-01 02:02] alaingalvan commented on #25
Updated the NPM distribution to `2.0.0`. ;)

@hawkins - the project is open to pull requests, if you have a cool idea and want to contribute, feel free to send a pull request over. 😄

[2017-11-01 02:03] #18 closed

[2017-11-01 02:03] #20 closed

[2017-11-01 02:03] #15 closed

[2017-11-01 02:03] #29 closed

[2017-11-01 02:05] alaingalvan commented on #30
Would you mind sending a Codepen our way with an example of this?

[2017-11-01 02:06] alaingalvan commented on #31
Hmm, this is probably because `anime.js` mutates the `style` prop of the HTML element in the DOM. This might not be fixable. :(

If anything, send me a CodePen and I'll take a look.

[2017-11-01 02:08] alaingalvan commented on #27
Yeah messing around with the `d` prop to make some cool animations like frame by frame stuff sounds like a pretty important use case!

Would you mind sending a CodePen our way?

[2017-11-01 02:10] alaingalvan commented on #22
Since React Anime is a DOM based library, it might not work with test suites. There's some tricks to get around that that I'll try to implement though.

In the meantime for the test case at least, try not to use React Anime in it.

[2017-11-01 04:34] pencilcheck commented on #20
Still doesn't work, I don't know why this is closed.

[2017-11-01 09:01] alaingalvan commented on #20
The collection on CodePen is now the default place to find examples. As for documentation I went ahead and added a [docs.md](https://github.com/hyperfuse/react-anime/blob/master/docs.md) file that can be found in the `readme.md` description.

That document details all the props an `<Anime/>` component expects, as well as the TLDR on how to use it. users just pass in CSS attributes, HTML attributes

[2017-11-01 10:20] sandnuggah opened #32 "Markdown pipe character breaking the docs"
Pipes (`|`) in markdown tables must be [escaped](https://github.com/erusev/parsedown/issues/184) in order to render correctly. Currently the docs are missing important prop types because of this issue.

[2017-11-01 15:32] alaingalvan commented on #32
Awesome, thanks for pointing that out, fixed!

[2017-11-01 15:32] #32 closed

[2017-11-03 19:26] karl-run opened #33 ""Warning: The tag <g> is unrecognized in this browser. If you meant to render a React component, start its name with an uppercase letter.""
Using a blank create-react-app application, with only react-anime installed and only a simple Anime tag I get this warning in Chrome:

`Warning: The tag <g> is unrecognized in this browser. If you meant to render a React component, start its name with an uppercase letter.`

[2017-11-04 23:11] rkarami commented on #33
i have the same problem!

[2017-11-05 04:08] alaingalvan commented on #33
Woah, this is weird, so we're using `<g>` as a wrapper component and it worked fine for a while. The main reason was that we couldn't be sure if you were doing animations in SVGs or not.

Thanks for reporting!

[2017-11-06 16:31] stephenwil opened #34 "TypeScript errors in 2.5.3 [Help Wanted]"
Hi,
  Using create-react-app-ts, even a very basic <Anime><div></div></Anime> or
  <Anime delay={(e, i) => i * 100}
         scale={[.1, .9]}>
    <div className="blue"/>
    <div className="green"/>
    <div className="red"/>
  </Anime>

Fails on typescript errors:
ren?: ReactNode; }> & Rea...'.
  Type '{ value: any; translateX: any; translateY: any; rotate: any; scale: any; opacity: any; color:

[2017-11-06 20:57] alaingalvan commented on #34
Thanks for reporting this @stephenwil, weird to see this, maybe somethings changed with TypeScript 2.2.1 vs 2.5.3, I'll look into it. ;)

[2017-11-11 13:47] rethna2 commented on #33
This library was very much helpful in one of my projects. Thanks to the creators and maintainers.

In React16, it is not essential to render just 'single root node'. We can render an array of nodes too. So I removed the <g> node and it worked fine for me.

[2017-11-13 08:22] yestoall commented on #33
i have the same problems in safari / chrome with react 16.0.1
nothing works after the error

[2017-11-16 20:41] ryandunnewold commented on #27
@8ctopotamus I got something similar to this working:

[code]

[code]

Your `d` prop has to be a different value than the one assigned to your actual path.

[2017-11-21 21:45] JonDum commented on #33
This is a new warning message in React 16. Has nothing to do with anime/react-anime and this warning can safely be ignored.

@yestoall Your app isn't working for some other reason. Catch all exceptions in debugger and see if you can isolate the issue.

[2017-11-22 07:31] mitchemmc commented on #10
I noticed recently that the previous time based store work with version 2.0 was causing issues when I changed the state of my component (lodash diffing wasn't working due to the deep comparison) So I went about fixing that in my branch, as I was doing it I thought I might as well give the mounting/unmounting a crack.

Using the react transition groups it was relatively easy to implement.

Here are

[2017-11-27 17:26] ravslabosz commented on #33
Would be great to have control of nametag of wrapper (not sure if its even possible in react)
In my case would fix problem with animating clipPath of my SVG (the <g> element is breaking syntax of svg clipping)

[2017-12-01 17:19] kontrafiktion opened #35 "easeOutBounce does not seem to work"
[code]

results in an error: "Uncaught TypeError: l.easing is not a function"

But:
[code]
does work.

Also: I couldn't find `easeOutBounce` in the anime.js documentation.

[2017-12-06 17:10] paulinhapenedo commented on #33
Maybe it's a good fit for the new [Fragments](https://reactjs.org/blog/2017/11/28/react-v16.2.0-fragment-support.html) that React just released?

[2017-12-09 04:48] ruizj-ibm opened #36 "props.children not working properly in react-anime.js?"
I am having an issue when the props change for an animation.

I made this change to _function componentWillReceiveProps_ in react-anime.js file:

this.children = {
        /*
        cur: children.filter(function (c) {
          return difChildren.indexOf(c) < 0;
        }),
        */
        cur: children,
        prev: childrenWereRemoved ? difChildren : this.children.prev,
        next: !child

[2017-12-14 16:59] gcadeado opened #37 "Question about 'complete' and 'begin' methods"
I'm fairly new with React and had some questions using this module.

The idea is to have an element that animates opacity and becomes hidden after animation based on a button toggle (opacity 0 doesn't works in this case since mouse events still works in an element with opacity 0, so display: none or visibility:hidden should work)

Problem: I need to animate opacity based on custom prop, it's ok an

[2017-12-15 16:58] ru-web-designer commented on #33
Same for me. Also, i've got no animation at all after the error.

[2017-12-15 21:35] kresli opened #38 "Typescript - why most of the unnecessary props are required but ignored in main example?"
Main example on react-anime doesn't compile in typescript

[code]

Anime declaration define multiple props as required which are not present in example. Can anyone explain me why those props are required? I'm new in react-anime and anime.js it self. Maybe I could help with typescript here?

Please see an example below:
https://codesandbox.io/s/20jn36m0l0

[2017-12-15 21:59] kresli commented on #33
@JonDum not true. Even main example doesn't work. Please see https://codesandbox.io/s/jlzlo15k59

[2017-12-16 14:07] ru-web-designer commented on #33
@kresli Exactly the same behavior, as I have.

[2017-12-17 01:03] Kelin2025 commented on #33
Same shit

[2017-12-17 01:15] Kelin2025 commented on #33
I fixed it
Not sure it's correct (because I removed something)
But it works
https://github.com/hyperfuse/react-anime/pull/39

[2017-12-18 12:10] kresli commented on #33
@Kelin2025 I don't want to be a mood killer here, but you broke compatibility. If someone already passing a style to the Anime component, it would break expected behaviour. Maybe release it as minor change?

[2017-12-18 19:35] scarlac opened #40 "Re-runs animation on every render"
Trying to use react-anime for mounting/unmounting of components but animations are re-run every time component is re-rendered, regardless if something changes in child or `<Anime ...>` definition.

e.g. `<Anime opacity={[0, 1]}>hello</Anime>` will rapidly flash 'hello' each time you run `setState` or e.g. props are changed via Redux. This makes the library a bit useless, particularly for Redux, as

[2017-12-18 21:07] corysimmons commented on #27
@ryandunnewold That didn't work for me. Can you post a full/barebones example? :\

Here's what I tried: https://codepen.io/corysimmons/pen/LeGaNy?editors=0010

Also, it'd be nice to pull the `<svg>` outside of `<Anime>` but that seems to break the svg all together...

It should look like this after animation is complete:
![image](https://user-images.githubusercontent.com/224636/34128088-7e046592-e

[2017-12-20 22:30] Nifled commented on #27
It would be nice to see a full/barebones example on codepen or something. I can't seem to get it working either.

[2017-12-22 17:01] ryandunnewold commented on #27
I'll work on putting it into a Codepen example

[2017-12-23 11:32] geohuz commented on #33
Hey this is apparently a bug, even the example code in the project home doesn't show anything! if you inspect the final rendering page, you will see the root component is wrapped with <g>, the element that is for svg, don't know why it becomes the wrapper of html.

[2018-01-02 20:04] destefanis commented on #40
Glad to see this issue reported, I just noticed the same thing. I wanted to animate a form into view. Which looks great! Well, until I start typing in the form and it changed the state. I'd love to use this library otherwise!

[2018-01-05 21:47] echoghi commented on #40
I'm having the same issue with my form. I was able to get around it by setting the animation duration in state, then changing the duration to 0 in the complete prop. Now the animation appears in the initial render only, but the entire component disappears when my form submit handler fires...

[2018-01-05 22:22] echoghi commented on #40
For the moment, I'm using a somewhat hacky workaround to render my form with the `<Anime>` wrapper on the initial render only, then replace it with the same form without the wrapper once the animation finishes. Its obviously not ideal, but it should serve to make your child component functional until this issue gets addressed.

[2018-01-10 15:29] theomjones commented on #38
Same as #34

[2018-01-12 22:11] yunyu commented on #21
I'm wondering why this is closed, I can't seem to get this working either.

[2018-01-14 12:27] sgnl commented on #33
Just installed and ran into this. Any ETA on an update? would love to start using this :> thanks!

[2018-01-18 00:44] hassanshaikley opened #41 "Check the render method of `Anime`."
I am getting an error using this library using v8.9.4 of Node.

[code]

[2018-01-21 00:19] nativix commented on #41
Hey! I have the same problem and I'm also using Gatbsy, have you found a solution?

[2018-01-25 21:33] rraghav123123 opened #42 "Component Disappear after setState"
state={
firstName: '',
}
handleFirstName = () => {
this.setState({ firstName })
}
<Anime opacity={[0, 1]} translateY={'1em'} delay={(e, i) => i * 1000}>
                  <div className={this.style.inputBox}>
                    <TextField
                      hintText={loginPageStatics.FIRST_NAME}
                      onBlur={(e) => {this.handleFirstName(e.target.value)}}
                    />

[2018-01-25 21:36] rraghav1 commented on #41
update your node version to 9.4.0 it will fix your problem.

[2018-01-25 21:38] #42 closed

[2018-02-03 08:16] seleckis commented on #6
I think this should be reopened. `<g>` is not allowed as html-element, as well as `<span>` is inline-level element which sometimes can break layout. Yet another problem: Anime is not working with styled-components wrapper.

[2018-02-10 15:21] JordynMarcellus commented on #36
+1 on this -- discovered this while playing with react-anime today.

[2018-02-21 00:25] JoaoTMDias commented on #41
So for how long should we be using v2.0.1 until this is fixed?

[2018-03-01 00:35] albertcarrete commented on #41
Any word on when or if this issue will be resolved? Node 9.4.0 is not an option for me at the moment so I'm still with 2.0.1.

[2018-03-01 05:16] miguel-orange commented on #41
Might make sense to update package.json if a certain node version is required.see [engines](https://docs.npmjs.com/files/package.json#engines)

[2018-03-14 01:26] ryanturnbull commented on #40
@echoghni is there any source code you could provide for your workaround? Changing the props of my component the animation is placed in seems to force a re-render

[2018-04-04 15:08] jeanverster opened #43 "Cannot read property 'nodeType' of null"
Hi there,

Trying to use React Anime in my project, and I keep getting the above error!

`node v9.8.0`
`react v16.2.0`

Snippet of my code:

[code]

Where `show` is a bool being passed from the parent component

The error seems to be in the actual `anime.min.js` file inside node_modules - not inside `react-anime` itself, but there is nothing there on the issue either. Anyone had this before and ma

[2018-04-05 19:53] feather-aurelie commented on #34
any update on that issue?

[2018-04-11 00:35] TENsaga commented on #31
https://codesandbox.io/s/rrrj957znp

[2018-04-16 09:39] klabelkholosh commented on #43
I'm sitting with the same issue.. did you manage to fix it?

[2018-04-16 10:50] NicolaSansom commented on #43
I am also having the same issues I do not have styled-components so it should not be related to that

[2018-04-16 11:05] jeanverster commented on #43
I haven't managed to solve this yet unfortunately. Any feedback would be appreciated!

[2018-05-05 10:40] sarneeh commented on #41
Node 9.4.0 does not fix the problem for me 😢

[2018-05-09 15:48] bhersey commented on #43
Also experiencing this issue, have a functional component that gets re-rendered by a parent class component according to some state changes, which also updates a call to apollo/graphql (not sure if this is potentially a pitfall).  Without anime wrappers, the component works as expected, but with them I now get the "Cannot read property 'nodeType' of null" error.  I suspect this falls somewhere on

[2018-05-10 08:55] danieljodeci commented on #40
I seemed to stop my animation from "re-looping" by placing my Anime components isolated in their own PureComponent and setting up the shouldComponentUpdate lifecycle event to return false. This prevents my component from ever re-rendering after its' initial mount'

`shouldComponentUpdate(nextProps, nextState){
    // Prevent Anime from rerendering animation
    return false;
  }`

[2018-05-14 16:59] ApeNox commented on #43
Have you guys tried not using the `Anime` component as the root element for the component render function.

try:
[code]

[2018-05-17 13:05] manakuro commented on #43
Did you try to give `Anime` component unique`key` value, which is id, index or something? @jeanverster

ex) If you pass down `id` to the component, it will be like this

[code]

[2018-05-25 03:10] jromero commented on #38
Isn't it just a matter of making those parameters optional?

[2018-05-25 03:40] Soldier31 commented on #38
Typescript, is might bite you in the ass.  Typescript, to me, is a lazy way of migrating legacy code

Sent from my iPhone

On May 24, 2018, at 11:10 PM, Javier Romero <notifications@github.com<mailto:notifications@github.com>> wrote:

Isn't it just a matter of making those parameters optional?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view i

[2018-06-10 01:09] quinnliu commented on #43
Also encountering this error with `"react": "^16.2.0"` and `"redux": "^3.7.2"`

[2018-06-16 22:12] sledorze commented on #38
@jromero I think so!

[2018-06-28 13:39] HardikModha commented on #43
I'm also facing the same issue with "react": "16.0" in jest snapshot testing.

[2018-07-10 19:29] Mikhail-MM commented on #27
I am having issues with triggering React-Anime animations via state change. I am conditionally rendering naked elements in their initial state -> the element with an <Anime> wrapper when it is time to animate. However, when going back to the initial state, the transition back is very rough, probably because I am removing the entire Anime wrapper and re-rendering the original element, so it jumps i

[2018-07-11 06:05] davidrichard23 commented on #40
@danieljodeci can you share how you did this? I isolated the component but the animation no longer works.

[2018-07-11 10:23] TotallWAR commented on #43
The same one

[2018-07-11 11:01] TotallWAR commented on #43
@manakuro thx, it helped to me strangly

[2018-07-11 15:15] bichotll opened #44 "Web not working"
Hey there.

I noticed that the website is not working.
Just a suggestion: a github.io one?

Cheers

[2018-07-14 18:51] systemlevel commented on #41
Getting the same error running this as well. Only thing that helped was going back to v2.0.1 as @susannepeng suggested.

Any plans for a fix for this in future releases?

[2018-07-28 17:45] jonoirwinrsa commented on #34
@stephenwil did you ever get to the bottom of this?

[2018-07-30 21:56] JoxieMedina commented on #43
The @manakuro advice do the trick for me, I'm using this library with Gatsbsy

[2018-08-11 16:22] smasinde opened #46 "Rerendering page that has Anime on it too fast causes "Type Error: a is null" and blank page."
If I re-render(I'm using Gatsby built in react-router Link component) a page too fast e.g fast clicking; twice will drop the error 3 fast clicks will produce a blank white page. Any suggestions?

[2018-08-19 15:54] elliotrpmorris commented on #41
Any news on this getting fixed as still appears too apparent on gatsby

[2018-08-20 21:22] jshakes commented on #27
Is there any update on this? I am having a similar problem. I can get the animation to run, but if the parent component's state changes, the Anime component disappears and I then get the error `Cannot read property 'nodeType' of null` (possibly the same issue as https://github.com/hyperfuse/react-anime/issues/43?)

[2018-08-21 14:54] AdrianNeatu opened #47 "Publish 2.2.0 to npmjs"
Hey, can you please publish the last master to npm? It would be useful to have the updated typescript interfaces that went into this MR: https://github.com/hyperfuse/react-anime/pull/45

[2018-09-01 10:18] launcherx opened #48 "Behavior of direction and delay in version @2.1.0"
Hi.
I am using React 16.4.2 and react-anime 2.1.0. And I have problem with direction and delay. If I use direction="reverse". Delay param flips.

Please see codesandox:
[Sample 1 (React 15 & anime 0.3.4)](https://codesandbox.io/s/94l9n129xo) - Delay works correctly
[Sample 2 (React 16 & anime 2.1.0)](https://codesandbox.io/s/ow57v4j2q)  - Delay flips

Code in both examples are identical only versi

[2018-09-03 02:35] dumblole commented on #41
Issue doesn't only affect gatsby

[2018-09-07 05:32] #48 closed

[2018-09-09 10:15] jaylocke commented on #36
+1 the same  problem

[2018-09-11 20:13] vladknp commented on #43
It is does not work. https://codesandbox.io/s/o53rpz24kq

[2018-09-14 13:56] Lobstrio commented on #41
How do you bounce back to v2.0.1 ?

[2018-09-18 01:31] #47 closed

[2018-09-18 13:50] launcherx commented on #46
Any info on this? Someone has solution?

[2018-10-08 07:36] karl-run commented on #33
I've had great experience with [react-spring](https://github.com/drcmda/react-spring) after I had to give up on react-anime.

[2018-10-12 02:26] FluentGuru opened #49 "is there support for animejs.timeline()"
I checked the the docs, examples and source but I couldn't find any component equivalent to anime.timeline() is there any plan to include it?

[2018-11-02 20:50] harryluo91 opened #50 "Is there a way to trigger the animation manually while autoplay is false?"
Hi, I've been trying to find a way to trigger the animation manually based on some conditions, but it looks like the only way to get a reference to the animation instance is through one of the begin, update or complete callback functions, and they all require the autoplay prop to be true to trigger. Is there any way that we can get the animation instance when the component mount?

[2018-12-03 14:20] thilinaaba commented on #33
Warning: The tag <signin> is unrecognized in this browser. If you meant to render a React component, start its name with an uppercase letter.

plz help me this error how to solve

[2018-12-05 11:39] kidandcat commented on #50
dude, you are using react, change autoplay={true|false} whenever you need it

[2018-12-08 23:18] EricNetsch commented on #27
When trying this I can see the SVG path is in fact morphing but it adds a div tag around the path and messes up SVG and creating invalid html.

Is there any way to prevent the path from being wrapped inside a div tag by anime?

[2018-12-13 23:14] WilliamIPark commented on #50
To be fair that's a pretty poorly named prop.

[2018-12-16 07:19] tjwjdvkf commented on #33
import I18n from 'redux-i18n';

 <I18n translations={translations} initiallang="en" fallbacklang="en">
                <App />
</I18n>

i18n -----> I18n

[2018-12-28 02:30] cizz3007 commented on #43
this is the answer

[2019-01-01 20:07] el1f opened #51 "No documentation for strokeDashoffset"
I checked the docs and assumed that the lib didn't support strokeDashEffort for drawing an SVG's shape borders only to find that [this example](https://codepen.io/alaingalvan/pen/rrZXYB?editors=0010) actually made use of the prop. Do you think the docs could use some improvements?

[2019-02-08 08:20] mikael-kalstad opened #52 "Anime not working with components"
I am having some problems with getting the animation to work when wrapping the `<Anime>` component with other components. Is this not supported? I could not find any relevant info in the documentation.

**Example**
Box component
[code]

Index.js

[code]

I have made the example in [codesandbox](https://codesandbox.io/s/k9w1yz1mx3)

It would be easier if I could apply the animation to pre-made comp

[2019-03-04 06:57] zhangjie45 commented on #33
The initials should be capitalized

[2019-03-09 13:38] IrvingArmenta-ML commented on #46
I guess there is no more support for this. I'm also looking for a solution on this.

[2019-06-11 10:27] jencia opened #53 "Cannot support animejs3.x"

[2019-06-14 02:42] cbbfcd commented on #52
yep.
react-anime use ref callback to add dom target to anime engine，so if you use a <Component/>,
the anime engine will be passed into a component instance, it's will not work well.

[2019-07-05 15:44] whalesingswee commented on #46
Up on this!

[2019-07-23 07:22] drewhoener commented on #52
for your function, use React.forwardRef
[code]
and that seems to work

[2019-07-26 12:38] dcsan opened #55 "no exported member 'Motion'.ts"
trying to use with a typescript app and getting the error abobe

Module '"../../../../../../../../../../Users/dc/dev/tix/recobot/stack/timeline/node_modules/react-anime/dist/react-anime"' has no exported member 'Motion'.ts(2305)

![image](https://user-images.githubusercontent.com/514002/61951902-477a2880-afaa-11e9-8c89-bc04cf85fe79.png)

[2019-07-26 12:39] dcsan opened #56 "react-motion > react-anime"
seems like you changed the package name?
but still it refers to react-motion in the online docs.

https://alain.xyz/libraries/react-anime

![image](https://user-images.githubusercontent.com/514002/61952052-bce5f900-afaa-11e9-821c-c9a8ec25845b.png)

[2019-08-20 09:06] tomhoad commented on #56
Motion is a different package that solves a different issue. React-anime is a wrapper around Anime.js.

[2019-08-23 00:24] profran opened #58 "Mapping array inside <Anime /> on state update won't render"
Today I tried to use the cascading list feature, which worked with an initial state, but it didn't work when updating the state.

I followed the steps written here: https://alain.xyz/libraries/react-anime

I created a codesandox to reproduce the issue: https://codesandbox.io/embed/github/profran/olimpiada-inet-2019/tree/master/

[2019-09-20 01:21] am8525 opened #59 "Simple translateY will not work for the life of me."
Really not sure what I'm doing wrong here. Just trying to get a basic translation going so I can start working with the library.

Any ideas?

[code]

[2019-09-20 03:22] am8525 commented on #59
I've figured it out. A little bit of DOM manipulation did the trick:

[code]

Note that it's the child of the child because the dot is within a nested div.

[2019-09-20 03:22] #59 closed

[2019-09-20 20:25] am8525 opened #60 "Cannot get basic animation working?"
Just trying to get something basic going, and it doesn't seem to be working.

Note: I have figured out how to use anime.js with React, and will be doing so until I can figure out how to use react-anime.

Here's my code:
[code]

[2019-09-24 05:49] susannepeng commented on #43
Just adding on to this, it will happen even if your `Anime` element isn't at the top level of your component. In my case I had a `div` as the top level element and I had to make sure that the `div` element was the one that had a unique key.

[2019-09-25 23:59] am8525 commented on #60
Figured it out. Just had to enclose <Dot /> within some divs.

[2019-09-25 23:59] #60 closed

[2019-10-31 11:56] hlolli commented on #43
Using Date.now() works, but it's a terrible solution. The component is re-rendered on every update, making the lifecycles begin and complete unuseable.

[2019-11-05 08:35] cizz3007 commented on #43
if you use Date.now() or combintate anything with Date.now() at key={} attribute.
every component will re-rendered on every update.
it's shit.

[2019-11-05 08:49] cizz3007 opened #62 "if you use Date.now() or combine anything with Date.now() at key={} attribute."
if you use Date.now() or combine anything with Date.now() at key={} attribute.
every component will re-rendered on every update.
it's shit.
every trigger that you are doing is cause re-rendering component

_Originally posted by @cizz3007 in https://github.com/hyperfuse/react-anime/issues/43#issuecomment-549718279_

[2019-11-15 05:22] paramsinghvc commented on #43
The error means that the targets passed in is null. In my case, I was passing target using React ref.current which could be null across renderes. Simply applying a null check on it solved it.

[2019-12-23 20:20] foxbunny commented on #58
Not sure if we're talking about the same thing, but I've tried a nested list where each list possibly has multiple nested lists (basically a tree). Whenever I edit the state, the animation of all nodes simply fail to render and are removed from the page.

[2019-12-27 22:00] clarke94 commented on #50
Changing autoplay to true|false does not work as intended for me. Changing this, removes all children on the Anime component

[2019-12-29 10:23] yahtzel commented on #58
Same here. As soon as new props (items) are being passed, causing a re-render I get this error:
``TypeError: a is null``

My suspicion is that it somehow wants to animate items that are unmounted, but they are not there anymore at that point.

Cheers ✌️

[2019-12-31 23:23] 2manypistachios opened #69 "Breaks immediately with Next.Js"
I haven't been able to use the package at all, starting from a default Next project, using
npx create-next-app

Depending on:
  "dependencies": {
    "animejs": "^3.1.0",
    "next": "9.1.6",
    "react": "16.12.0",
    "react-anime": "^2.3.2",
    "react-dom": "16.12.0"
  }

I tried to run tests with and without animejs, both failing.

Getting errors in the browser saying:
`Warning: componentWill

[2020-01-01 00:08] alaingalvan commented on #69
Thanks for the heads up, I'm seeing those warnings on my end when running these tests, working on a patch now.

I'll edit this reply once it's ready. 👨‍🍳

[2020-01-01 23:26] #69 closed

[2020-01-02 17:28] #62 closed

[2020-01-02 17:28] #56 closed

[2020-01-02 17:28] #44 closed

[2020-01-02 17:29] #53 closed

[2020-01-02 17:31] #38 closed

[2020-01-02 18:19] alaingalvan commented on #53
This issue has actually been fixed, previously `anime.js 3.0` wasn't supported by this package, but that's since been fixed as of `react-anime 3.x`.

[2020-01-02 19:44] #33 closed

[2020-01-02 19:46] #35 closed

[2020-01-05 17:43] tonyxyz commented on #22
Just three years late with this reply but:

I had the same problem with animejs in a different context. I find it helpful to abstract my animation methods to a helper class and then stub them out.

In a before or beforeEach:
`sinon.stub(AnimationHelper.prototype, 'someAnimationMethod');`

And in the corresponding after or afterEach:
`AnimationHelper.prototype.someAnimationMethod.restore();`

And y

[2020-02-25 14:04] kriziacamilleuayan opened #71 "Controls Documentation"
Hi, sorry but I'm kinda stuck with the [controls ](https://animejs.com/documentation/#playPause)part because it's not listed on the documentation.
I also tried to read the source code and some examples but my code wont work, It'll be great if you add it on `Read.me` for noobies like me. Thank you!

[2020-03-03 19:55] b30wulffz commented on #71
Functions can be triggered by creating references (React.createRef()) of the <Anime> component, and then calling functions using these refs as `ref.current.anime.FUNCTION()` where FUNCTION() can be replaced by play(), pause(), restart(), etc.

To know more, do `console.log(ref.current.anime)` and see what all functions are present.

I have attached an example for your reference:

[code]

Here is a

[2020-03-21 15:48] jantimon opened #73 "Animation is run on every rerender"
Clicking on a button will show the animation again although there was no markup change:

![ReactAnime](https://user-images.githubusercontent.com/4113649/77230325-b0468e80-6b93-11ea-9966-b006031fa157.gif)

[code]

Codesandbox: https://codesandbox.io/s/react-anime-rerender-ttfbu

[2020-04-08 23:07] c0d3ster commented on #40
I have created a workaround that solves the issue for my case of fading an element in only on the first render. If given the chance, I could make this more generic to support all opacity cases,  set the ANIMATION_DURATION set to the `duration` prop value instead, and merge the fix into the library.

[code]

[2020-04-10 20:24] 16abhimasani commented on #34
This worked for me to fix all type errors. Just import relevant type and manually cast. I assume this would work for entire prop obj as well.

[code]

[2020-04-11 21:20] abused commented on #73
I Am also having this issue, whenever rerendering occurs (in my case selecting an item), the animation is rerun.
![4luuSG5 - Imgur](https://user-images.githubusercontent.com/10110829/79055163-c4246400-7c18-11ea-9ec1-748266f64a6a.gif)

[2020-04-20 23:05] mihaibrana commented on #73
Same here. Too bad. I really liked the simplicity of defining animations. Anyway, until a solution is found, I switched to react-spring.

[2020-04-20 23:06] Kyliathy commented on #73
Same here. Too bad. I really liked the simplicity of defining animations. Anyway, until a solution is found, I switched to react-spring.

[2020-04-28 18:34] andreasonny83 commented on #73
Same here

[2020-05-14 23:05] Pietroro opened #74 "SVG line drawing issue"
Hi, I was having an issue using the SVG line drawing functionality.
When trying to update the strokeDashoffset param something weird happens and the SVG disappears. Instead of updating the path it seems like the div style is updated.
[code]
It seems to generate the following:
[code]
Any help would be greatly appreciated, thanks!

[2020-05-15 14:50] alaingalvan commented on #74
Hi, you need to tag the `<Anime>` element with an `svg` attribute so anime would generate a `<g>` instead:

[code]

[2020-05-26 17:07] Pietroro commented on #74
I see, thank you very much for your help. I should have read the documentation more carefully!

[2020-05-26 17:07] #74 closed

[2020-05-27 13:20] clearink commented on #73
I think it's because the component's props have changed,Although they are both [0,1]

[2020-05-28 04:08] DigitalKrony opened #75 "Can't do anything with SVG. Errors with `Cannot add property delay, object is not extensible`"
I've been trying, for hours, to read through both the react version docs as well as the base JS docs to try and understand what I might be doing incorrectly.

When I have the below, I get no errors and a really boring animation (as expected) of the object fading in and out. Not what I'm looking for, but, things build so far.
[code]

When I update it to the below, I get errors. ( note the addition

[2020-05-28 06:01] #75 closed

[2020-07-15 22:06] Slapbox opened #77 "Allow user to choose component to render for Anime wrapper?"
For example, using an `<li />` instead of a `<div />`. React Transition Group handles this via the `component` property. React Transition Group allows setting `null` but I assume that's impossible in this case. It would still be great to be able to render other elements though.

@alaingalvan would you be open to a PR for this?

[2020-07-16 00:14] Slapbox commented on #73
I haven't found any way around this, or any circumstance that I can React-Anime due to this issue. It's a beautifully simple library and I'd _really_ like to use it - but I'm not seeing how to work around this issue. I even forked the library and spent the past few hours trying to remedy this.

@alaingalvan can you explain why this is, or what the intended use case of React-Anime is?

[2020-07-16 05:18] alaingalvan commented on #77
Yeah sure thing! 😄

Interesting, looks like [React Transition Group](https://github.com/reactjs/react-transition-group/blob/master/src/TransitionGroup.js#L14) is doing it here. Feel free to add a PR and I'll review and merge it. 😉

[2020-08-20 22:21] BryanAM commented on #73
I second this, reach pushing functional components makes animations really hard when every update of the state triggers all animations over.

[2020-09-12 17:42] HotPotatoC commented on #73
I also have the same problem.

[2020-09-29 13:36] Papput opened #81 "Removing forced delay in <Anime scale={ delay: number }></Anime>"
I get a typescript type error when trying to recreate the grid example on animejs
[https://animejs.com/documentation/#gridStaggering](https://animejs.com/documentation/#gridStaggering)

My working example with ts warnings
[https://codesandbox.io/s/pensive-wozniak-lv45b?file=/src/App.tsx](https://codesandbox.io/s/pensive-wozniak-lv45b?file=/src/App.tsx)

My proposed fix
[code]

[2020-11-09 19:07] ajbogh commented on #33
For those finding this issue coming from other projects:

This can be fixed by adding `xmlns="http://www.w3.org/2000/svg"` to any offending SVG element, including <g>, <use>, <text>, or <tspan> (doesn't break spec, but does pollute attribute list).

You could also run tests in something other than `__DEV__` mode, or add the `is` attribute (breaks HTML spec, requires selectors to be rewritten).

ht

[2021-02-25 17:17] larswittenberg commented on #75
Ran into the same error.

Is it not possible to animate an element along a path like in anime.js with "Motion Path"?
https://animejs.com/documentation/#motionPath

[2021-03-02 16:39] #73 closed

[2021-03-06 17:51] NLStom opened #86 "Cannot install react-anime"
![Screen Shot 2021-03-06 at 8 50 28 AM](https://user-images.githubusercontent.com/11711430/110216000-20a7f780-7e59-11eb-9713-b96c7f6dd024.png)

[2021-03-06 18:13] alaingalvan commented on #86
Thanks, we've been working on an update that updates React Anime to work with React 17, testing it before releasing it to NPM. In the mean time, you should still be able to install it with `--force`.

[2021-03-14 23:29] alaingalvan commented on #77
Belated update, this is now in for the next release `4.1.0` and the interface matches that of React Transition Group, just set a `component` prop with what you might want (`g`, `section`, etc.) and it'll use that component type to wrap each child being animated . I'll be closing this issue, but let me know if you want to keep it open.

[2021-03-14 23:29] #77 closed

[2021-03-15 13:35] #86 closed

[2021-07-07 10:04] WebKieth commented on #71
@b30wulffz u really still white components on classes? Welcome to 2021th, this unuseful adapter - it wont push reference if i try to use reference hook 😂
Really, its better to use clean animejs plugin, then this peace of problems

[2021-08-29 14:49] #71 closed

[2021-09-20 03:02] jwl-7 opened #87 "Cannot import react-anime"
Importing react-anime results in: `SyntaxError: Cannot use import statement outside a module`

Import statements used:
[code]

Trying out the latest package on npm using RunKit results in the same error: https://npm.runkit.com/react-anime

I am using Next.js with JavaScript.

EDIT:
I ended up fixing this issue by using [Next.JS Dynamic Imports](https://nextjs.org/docs/advanced-features/dynamic-imp

[2021-09-20 05:15] #87 closed, assigned to nobody

[2022-01-03 14:39] DarioLopes commented on #87
You saved me for this one! Do you know how to import "anime" though? Like "anime.stagger(100)"

Anyway thanks

Edit: Well, nothing seems to work on an almost fresh install, I got to Framer Motion instead, what a relief!

[2022-01-17 18:16] timfee commented on #87
@DarioLopes you can just use the vanilla import for access to `anime` -- like so:

[code]
[code]

[2022-01-17 18:32] DarioLopes commented on #87
@timfee Oh well, thank you, I'll give it a try!

[2022-01-17 18:58] timfee commented on #87
@DarioLopes good luck! FWIW, I ended up just [using `animejs` directly](https://github.com/timfee/www/blob/main/pages/index.tsx):

[code]
[code]

[2022-02-03 17:54] brianyuen opened #88 ""Failed to parse source map from" error"
Hi,
I'm familiarizing myself with react-anime and have it installed and working on my React app on Node 17.4.0 with a simple translateX animation. I'm getting both an error and warning in the terminal. No errors in the browser console. I've removed both node_modules and package-json.lock file and did a npm install again with no luck. Any help would be great! Here's the error:

[code]

[2022-02-08 04:07] pubuduarosha commented on #33
I have the same problem with <ui> tag.

[2022-02-08 04:08] pubuduwanigasekara commented on #33
I have the same problem with < ui > tag.

[2022-02-18 10:54] stianste commented on #88
Also experiencing this issue after upgrading create react app to v5.

[2022-02-23 12:42] dperolio commented on #16
Was this functionality ever added? :c

[2022-03-13 08:03] JumpAttacker opened #89 "No types in dist"
Hey, just install it via yarn add react-anime and seems ts support is not working here.
![2022-03-13-11-02-HAlNAlWAFC](https://user-images.githubusercontent.com/10989729/158050805-0a05353f-788a-4183-8b94-9deb78bf4553.png)

found, that there is no types file

[2022-03-16 18:35] mohdfurkan01 commented on #33
!1.react-dom.development.js:67 Warning:
 <chakraProvider /> is using incorrect casing. Use PascalCase for React components, or lowercase for HTML elements.
    at chakraProvider
2.react-dom.development.js:67 Warning: The tag <chakraProvider> is unrecognized in this browser. If you meant to render a React component, start its name with an uppercase letter.
    at chakraProvider

What can I do?